@{
    ViewBag.Title = "Guidelines";
}

<h1>ABC Guidelines</h1>

<a class="linkButton" style="position: relative; float: right; margin-top: -67px; right: 15px;" href="@Url.Action("AllBeerchugs","Beerchug")">Back to Wall</a>

<ul>
    <li><b>The Drinker</b> (<em>person performing the ABC</em>) must have a <b>Red Solo Cup</b> (<em>official lodge ABC container</em>) filled with the contents of one (<em>12oz</em>) beer.</li>
    <br />
    <li>The <b>Red Solo Cup</b> must be placed on a flat surface deemed acceptable by the <b>Approving Lodger</b>. (<em>Approving Lodger may be current or former</em>)</li>
    <br />
    <li><b>Approving Lodger</b> will give a count down from 3 and then exclaim, "CHUG!!!". 
        <p>I.E. <em>"Three, Two, One, CHUG!!! HAHA, ARE YOU TRYING TO DRINK THAT WITH YOUR EYE SOCKET!?</em></p>
    </li>
    <br />
    <li>As soon as "CHUG" has left the <b>Approving Lodger</b>'s mouth, ALL contents of the <b>Red Solo Cup</b> must be consumed by <b>The Drinker</b></li>
    <br />
    <li>Upon completing consumption, <b>The Drinker</b> must place <b>The Red Solo Cup</b> on the surface in an <em>upright position</em>.</li>
    <br />
    <li>Once the cup assumes the upright position on the flat surface, <b>Approving Lodger</b> will immediately stop the timeclock and present <b>The Drinker</b> with official time.</li>
</ul>

<br />
<p><b><em>NOTE:</em></b> All rules are subject to be enforced by <b>Approving Lodger</b> to the best of their <em>considerable</em> abilities.
    <br />
    <b>DO NOT</b> doubt their professional judgement <em>or</em> question their sobriety. Ever.
</p>