@{
    ViewBag.Title = "Tuckahoe Lodge   ";
}

<h1>Welcome to the Tuckahoe Lodge!</h1>
<br />
<div>If you're reading this, there's a chance you're lucky enough to be friends with the cool-ass motherfuckers who live in the house picture above. Or maybe you'd just like to be.</div>
<br />
<div>On the other hand (and honestly much more likely), you may just be looking for information on lodging near a location named Tuckahoe. If that's true -- Well, this website sure as hell won't be helpful to you. But, before you leave feeling empty-handed -- enjoy <a href="http://www.google.com/">this</a>!</div>
<br />
<div>As for the rest of you... Enjoy your stay. Like you always do.</div>